<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.nexuslink.mapper.PrescriptionUserMapper">
    <resultMap id="prescriptionUser" type="PrescriptionUserDO">
        <id property="id" column="id"/>
        <result property="tele" column="tele"/>
        <result property="prescriptionId" column="prescription_id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <insert id="insertPrescriptionUser" parameterType="PrescriptionUserDO">
        insert into prescription_user(tele, prescription_id, gmt_create, gmt_modified)
        VALUES (#{tele}, #{prescriptionId}, #{gmtCreate}, #{gmtModified})
    </insert>

    <select id="getPrescriptionIds" resultMap="prescriptionUser">
        select prescription_id, gmt_create from prescription_user where tele = #{tele}
    </select>


</mapper>